@import url(http://fonts.googleapis.com/css?family=Roboto&subset=cyrillic-ext,latin);

@font-face {
  font-family: 'leksa_sansdemibold';
  src: url('fonts/leksasans-demibold-webfont.eot');
  src: url('fonts/leksasans-demibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/leksasans-demibold-webfont.woff') format('woff'),
  url('fonts/leksasans-demibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'leksa_sansextrabold';
  src: url('fonts/leksasans-extrabold-webfont.eot');
  src: url('fonts/leksasans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/leksasans-extrabold-webfont.woff') format('woff'),
  url('fonts/leksasans-extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$demibold: 'leksa_sansdemibold', sans-serif;
$extrabold: 'leksa_sansextrabold', sans-serif;

a:active,
a:focus,
button:active,
button:focus,
input:active,
input:focus,
textarea:active,
textarea:focus{
  outline: none;
}

.body-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  min-height: 100%;
  min-width: 860px;
  width: 100%;
  z-index: -1;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
}

.wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 453px;
  height: 434px;
  background: url(../img/bg-form.png) center center no-repeat transparent;
  float: right;
  position: relative;
  margin-top: -18px;
}

label{
  display: none !important;
}

table{
  background: transparent !important;
  div{
    width: 100% !important;
    padding-left: 0 !important;
  }
}

td{
  padding: 0 !important;
}

.footer {
  width: 100%;
  text-align: center;
  height: 20px;
  p {
    margin-top: 6px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.294);
  }
}

.big-ico {
  position: absolute;
  width: 169px;
  height: 147px;
  background: url(../img/icon-1.png) center center no-repeat transparent;
  top: 17px;
  left: -73px;
}

.clear {
  clear: both;
}

h1 {
  font-family: $extrabold;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.294);
  color: #ffb800;
  font-size: 58px;
  text-decoration: underline;
}

h2 {
  font-family: $extrabold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.294);
  color: #ffb800;
  font-size: 48px;
  line-height: 46px;
}

h3 {
  font-family: $demibold;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.294);
  font-size: 38px;
  color: #fff;
  span {
    text-decoration: underline;
  }
}

input[type="text"] {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-radius: 4px;
  background-color: rgb(236, 236, 236) !important;
  box-shadow: inset 0px 1px 6px 0px rgba(0, 0, 0, 0.157);
  width: 261px;
  height: 48px;
  font-size: 16px !important;
  text-indent: 30px !important;
}

.form-text {
  font-family: $demibold;
  text-align: center;
  margin-top: 67px;
  margin-bottom: 4px;
  font-size: 23px;
}

.form-bot-text {
  text-align: center;
  margin-top: 2px;
}

.error-block {
  text-align: center;
  margin-top: 8px;
  margin-bottom: -7px;
}

.pluso {
  float: right;
  margin-top: -25px;
  margin-right: 116px;
}

input[name="f_0"] {
  background: url(../img/icon-2.png) left center no-repeat !important;
  width: 263px !important;
  height: 50px !important;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  margin-bottom: -6px !important;
}

input[name="email"] {
  background: url(../img/icon-3.png) left center no-repeat !important;
  width: 263px !important;
  height: 50px !important;
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  margin-bottom: -6px !important;
}

button {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(63, 117, 31);
  border-radius: 4px;
  background-image: -moz-linear-gradient(90deg, rgb(0, 134, 0) 0%, rgb(0, 207, 30) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(0, 134, 0) 0%, rgb(0, 207, 30) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(0, 134, 0) 0%, rgb(0, 207, 30) 100%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.157);
  width: 262px;
  height: 72px;
  text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.294);
  color: rgb(255, 255, 255) !important;
  &:hover{
    background-image: -moz-linear-gradient(90deg, rgb(0, 207, 30) 0%, rgb(0, 134, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 207, 30) 0%, rgb(0, 134, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 207, 30) 0%, rgb(0, 134, 0) 100%);
  }
}




